ai-calendar-telegram.json
{"name":"AI Calendar Assistant (Telegram)","nodes":[{"id":"trigger1","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"updates":["*"]},"webhookId":"telegram-ai-cal"},{"id":"agent1","name":"Calendar AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,300],"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"You are a Google Calendar assistant.\nCurrent date: {{ DateTime.local().toFormat('cccc d LLLL yyyy') }}.\n\nWhen user asks to create an event:\n1. Use Google Calendar - Create Event tool\n2. Extract: start_date, end_date, event_title, event_description\n3. Date format: YYYY-MM-DD HH:mm:ss\n4. If missing info, ask user\n\nWhen user asks about existing events:\n1. Use Google Calendar - Get Events tool\n2. Ask for date range if not provided\n\nKeep responses friendly."}},"subnodes":{"model":{"id":"openai1","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[200,200],"parameters":{"model":"gpt-4o"},"credentials":{"openAiApi":{"id":"","name":"OpenAI API"}}},"tools":[{"id":"calget1","name":"Google Calendar - Get Events","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[600,100],"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"list","value":"","cachedResultName":""},"options":{"timeMin":"={{ $fromAI('start_date') }}","timeMax":"={{ $fromAI('end_date') }}"}},"credentials":{"googleCalendarOAuth2Api":{"id":"","name":"Google Calendar"}}},{"id":"calcreate1","name":"Google Calendar - Create Event","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[600,500],"parameters":{"operation":"create","calendar":{"__rl":true,"mode":"list","value":"","cachedResultName":""},"start":"={{ $fromAI('start_date') }}","end":"={{ $fromAI('end_date') }}","useDefaultReminders":false,"additionalFields":{"summary":"={{ $fromAI('event_title') }}","description":"={{ $fromAI('event_description') }}"}},"credentials":{"googleCalendarOAuth2Api":{"id":"","name":"Google Calendar"}}}]}},{"id":"send1","name":"Send AI Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[700,300],"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.message.chat.id }}","text":"={{ $json.output }}"},"credentials":{"telegramApi":{"id":"","name":"Telegram API"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Calendar AI Agent","type":"main","index":0}]]},"Calendar AI Agent":{"main":[[{"node":"Send AI Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
