simple-calendar-telegram.json
{"name":"Telegram Calendar Event","nodes":[{"id":"telegram-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"updates":["*"]},"webhookId":"simple-cal-telegram"},{"id":"parse","name":"Parse Event Details","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,300],"parameters":{"mode":"raw","assignments":{"assignments":[{"id":"title","name":"title","type":"string","value":"={{ $json.message.text.replace('/event ', '').split('|')[0].trim() }}"},{"id":"date","name":"date","type":"string","value":"={{ $json.message.text.replace('/event ', '').split('|')[1].trim() }}"},{"id":"duration","name":"duration","type":"string","value":"={{ $json.message.text.replace('/event ', '').split('|')[2].trim() || '60' }}"},{"id":"description","name":"description","type":"string","value":"={{ $json.message.text.replace('/event ', '').split('|')[3].trim() || '' }}"},{"id":"chatId","name":"chatId","type":"string","value":"={{ $json.message.chat.id }}"}]},"options":{}}},{"id":"calendar","name":"Create Calendar Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[440,300],"parameters":{"resource":"event","operation":"create","calendar":{"__rl":true,"mode":"id","value":"primary"},"start":"={{ $json.date }}","end":"={{ $json.date }}","useDefaultReminders":false,"additionalFields":{"summary":"={{ $json.title }}","description":"={{ $json.description }}"}}},{"id":"telegram-send","name":"Send Confirmation","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,300],"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chatId }}","text":"=?Event created: {{ $json.title }}","additionalFields":{"parse_mode":"Markdown"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Parse Event Details","type":"main","index":0}]]},"Parse Event Details":{"main":[[{"node":"Create Calendar Event","type":"main","index":0}]]},"Create Calendar Event":{"main":[[{"node":"Send Confirmation","type":"main","index":0}]]}}}
