telegram-calendar-workflow.json
{
  "name": "Telegram → Calendar",
  "nodes": [
    {
      "id": "8b390831-4a59-4817-81b7-b092e0c17336",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "updates": ["*"]
      },
      "webhookId": "941f2801-1d01-4934-b8f1-536d6445e059"
    },
    {
      "id": "9c944b81-1f93-47f2-8c75-05f867b91644",
      "name": "Parse Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "parameters": {
        "mode": "raw",
        "assignments": {
          "assignments": [
            {"id": "title", "name": "title", "type": "string", "value": "={{ $json.message.text.replace('/event ', '').split('|')[0].trim() }}"},
            {"id": "datetime", "name": "datetime", "type": "string", "value": "={{ $json.message.text.replace('/event ', '').split('|')[1].trim() }}"},
            {"id": "duration", "name": "duration", "type": "string", "value": "={{ $json.message.text.replace('/event ', '').split('|')[2].trim() || '60' }}"},
            {"id": "description", "name": "description", "type": "string", "value": "={{ $json.message.text.replace('/event ', '').split('|')[3].trim() || '' }}"},
            {"id": "chatId", "name": "chatId", "type": "string", "value": "={{ $json.message.chat.id }}"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d90791eb-2489-483d-a606-ecac06d29a3f",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [440, 300],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {"__rl": true, "mode": "id", "value": "primary"},
        "start": "={{ $json.datetime }}",
        "end": "={{ $json.datetime }}",
        "useDefaultReminders": true,
        "additionalFields": {
          "summary": "={{ $json.title }}",
          "description": "={{ $json.description }}"
        }
      }
    },
    {
      "id": "0033a2d8-6318-4f81-9fc9-ca5e39fa4eae",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 300],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "Event created!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "webhookId": "e6721972-904b-4e95-901c-d4467b852249"
    }
  ],
  "connections": {
    "Telegram Trigger": {"main": [[{"node": "Parse Message", "type": "main", "index": 0}]]},
    "Parse Message": {"main": [[{"node": "Create Calendar Event", "type": "main", "index": 0}]]},
    "Create Calendar Event": {"main": [[{"node": "Send Confirmation", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}
